<div style="position: absolute;width: 110%;height: 110%;left:-10%;top:-10%" class="comp-body">
  <div class="control-section" style="position: absolute;top:10%;left:9%;width:91%;" >
    <button (click)="perform_logout()">Log Out</button>
    <div class="stack">
      <input id="stackblitz" type="button" class="stkbltz" style="visibility: hidden;" onclick="openStackBlitz()" title="Open in StackBlitz">
    </div>
    <div id="container" style="position: absolute;width:96%;left:2%;height:200%">
      <div id="Schedule" class="e-control e-schedule e-lib e-keyboard" tabindex="0" role="main" aria-label="Week of February 20, 2018" style="width: 100%; height: 500px;">
        <div class="e-schedule-toolbar-container">
          <div class="e-schedule-toolbar e-control e-toolbar e-lib e-keyboard e-toolpop" role="toolbar" aria-disabled="false" aria-haspopup="false" aria-orientation="horizontal" tabindex="0" style="height: auto; width: auto;">
            <div class="e-toolbar-items e-tbar-pos">
              <div class="e-toolbar-left">
                <div class="e-toolbar-item e-prev e-tbtn-align e-overflow-show" aria-disabled="false" aria-label="previous period" role="navigation" title="Previous">
                  <button (click)="changeWeek(-7)" class="e-tbar-btn e-control e-btn e-lib e-icon-btn" type="button" id="e-tbr-btn_0" aria-label="Previous" style="width: auto;" title="Previous" tabindex="-1">
                    <span class="e-btn-icon e-icons"><</span>
                  </button>
                </div>
                <div class="e-toolbar-item e-next e-tbtn-align e-overflow-show" aria-disabled="false" aria-label="next period" role="navigation" title="Next">
                  <button (click)="changeWeek(7)"  class="e-tbar-btn e-control e-btn e-lib e-icon-btn" type="button" id="e-tbr-btn_1" aria-label="Next" style="width: auto;" title="Next" tabindex="-1">
                    <span class="e-btn-icon e-icons">></span>
                  </button>
                </div>
                <input type="date" required="required" id="specified-date" (change)="onDateChange()" [ngModel] ="activeDate | date:'yyyy-MM-dd'" (ngModelChange)="activeDate = $event">
                
              </div>
              <div class="e-toolbar-center" style="margin-left: 429.5px;"></div>
              
            </div>
          </div>
          
        </div>
        <div class="e-spinner-pane e-spin-hide">
          <div class="e-spinner-inner">
            <svg id="NOMCp" class="e-spin-fabric" viewBox="0 0 30 30" style="transform-origin: 15px 15px 15px; height: 30px; width: 30px;">
              <path class="e-path-circle" d="M 15 15 m -15 0 a 15 15 0 1 0 30 0 a 15 15 0 1 0 -30 0"></path>
              <path class="e-path-arc" d="M 25.606601717798213 4.3933982822017885 A 15 15 0 0 0 4.393398282201785 4.3933982822017885"></path>
            </svg>
          </div>
        </div>
        <div class="e-table-container">
          <div class="e-table-wrap e-vertical-view e-week-view e-current-panel" style="">
            <table class="e-schedule-table e-outer-table" role="presentation">
              <tbody>
                <tr>
                  
                  <td colspan="8">
                    <div class="e-date-header-container" style="padding-right: 16px;">
                      <div class="e-date-header-wrap e-all-day-auto" style="border-right-width: 1px;">
                        <table class="e-schedule-table " role="table" style="overflow: scroll">
                          <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                          </colgroup>
                          
                          

                          <tbody>
                            <tr class="e-header-row" #daysRow>
                                <td colspan="1" class="e-header-cells" data-date="1518901200000">
                                    <div class="e-header-day">Days</div>
                                    <div class="e-header-date e-navigate" role="link">Number</div>
                                  </td>
                            <ng-container *ngFor="let number of [0,1,2,3,4,5,6]">
                                <td colspan="1" class="e-header-cells" data-date="1518901200000">
                                    <div class="e-header-day">{{activeDays[number].dayName}}</div>
                                    <div class="e-header-date e-navigate" role="link">{{activeDays[number].dayNumber}}</div>
                                  </td>
                            </ng-container>
                              
                            </tr>
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                    <td colspan="8">
                    <div class="e-content-wrap" style="height: 393px;" #table  >
                        <table class="e-schedule-table e-content-table" role="table"  >
                            <colgroup>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead>
                                <ng-template #eventContainer>
                                    <ng-container *ngFor='let in of counter(events) ;let i = index' >
                                        <td class="e-day-wrapper" colspan="8" style="position:absolute">
                                            <div class="e-appointment-wrapper" [id]="'event_'+events[i].event.id" (click)="updateEvent($event)">
                                            <div [id]="'event_'+events[i].event.id" class="e-appointment e-lib e-draggable"  role="button" tabindex="0" aria-readonly="true" aria-selected="false" aria-grabbed="true" [attr.aria-label]="events[i].event.details" style="position:absolute;width: 12.5%;" [style.height]="events[i].height" [style.left]="events[i].left" [style.top]="events[i].top"[style.background-color]="events[i].color" >
                                                <div [id]="'event_'+events[i].event.id" class="e-event-resize e-top-handler">
                                                    <div class="e-top-bottom-resize"></div>
                                                </div>
                                                <div class="e-appointment-details">
                                                    <div [id]="'event_'+events[i].event.id"class="e-subject" style="max-height: 68px;">{{events[i].event.header}}</div>
                                                    <div [id]="'event_'+events[i].event.id" class="e-time">{{this.timeString(events[i].event)}}</div>
                                                    <div class="e-location"></div>
                                                </div>
                                                <div [id]="'event_'+events[i].event.id" class="e-event-resize e-bottom-handler">
                                                    <div class="e-top-bottom-resize"></div>
                                                </div>
                                            </div>
                                            </div>
                                        </td>
                                    </ng-container>
                                </ng-template>
                              
                                <ng-container *ngTemplateOutlet="eventContainer">
                                </ng-container>
                            </thead>
                            <tbody >
                            <ng-container *ngFor="let in of range(24) ;let number = index">
                                <tr role="row">
                                    <th role="gridcell" aria-selected="false" colspan="1" class="e-work-cells e-alternate-cells" rowspan="2"  >
                                        <span>{{number}}:00</span>
                                      </th>
                                    <td role="gridcell" aria-selected="false" colspan="1" class="e-work-cells e-alternate-cells" [attr.data-date]="setDateForButton(0,number*60)" (click)="createEvent($event)" #row></td>
                                    <td role="gridcell" aria-selected="false" colspan="1" class="e-work-cells e-alternate-cells" [attr.data-date]="setDateForButton(1,number*60)" (click)="createEvent($event)"></td>
                                    <td role="gridcell" aria-selected="false" colspan="1" class="e-work-cells e-alternate-cells" [attr.data-date]="setDateForButton(2,number*60)" (click)="createEvent($event)"></td>
                                    <td role="gridcell" aria-selected="false" colspan="1" class="e-work-cells e-alternate-cells" [attr.data-date]="setDateForButton(3,number*60)" (click)="createEvent($event)"></td>
                                    <td role="gridcell" aria-selected="false" colspan="1" class="e-work-cells e-alternate-cells" [attr.data-date]="setDateForButton(4,number*60)" (click)="createEvent($event)"></td>
                                    <td role="gridcell" aria-selected="false" colspan="1" class="e-work-cells e-alternate-cells" [attr.data-date]="setDateForButton(5,number*60)" (click)="createEvent($event)"></td>
                                    <td role="gridcell" aria-selected="false" colspan="1" class="e-work-cells e-alternate-cells" [attr.data-date]="setDateForButton(6,number*60)" (click)="createEvent($event)"></td>
                                  </tr>
                                  <tr role="row">
                                    <td role="gridcell" aria-selected="false" colspan="1" class="e-work-cells" [attr.data-date]="setDateForButton(0,number*60+30)" (click)="createEvent($event)"></td>
                                    <td role="gridcell" aria-selected="false" colspan="1" class="e-work-cells" [attr.data-date]="setDateForButton(1,number*60+30)" (click)="createEvent($event)"></td>
                                    <td role="gridcell" aria-selected="false" colspan="1" class="e-work-cells" [attr.data-date]="setDateForButton(2,number*60+30)" (click)="createEvent($event)"></td>
                                    <td role="gridcell" aria-selected="false" colspan="1" class="e-work-cells" [attr.data-date]="setDateForButton(3,number*60+30)" (click)="createEvent($event)"></td>
                                    <td role="gridcell" aria-selected="false" colspan="1" class="e-work-cells" [attr.data-date]="setDateForButton(4,number*60+30)" (click)="createEvent($event)"></td>
                                    <td role="gridcell" aria-selected="false" colspan="1" class="e-work-cells" [attr.data-date]="setDateForButton(5,number*60+30)" (click)="createEvent($event)"></td>
                                    <td role="gridcell" aria-selected="false" colspan="1" class="e-work-cells" [attr.data-date]="setDateForButton(6,number*60+30)" (click)="createEvent($event)"></td>
                                  </tr> 
                              </ng-container>
                            </tbody>
                        </table>
                        </div>
                    </td>
                </tr>        
              </tbody>
            </table>
          </div>
        </div>
        <div class="e-dlg-ref-element"></div>
        <div class="e-quick-popup-wrapper e-lib e-popup e-control e-popup-close" style="z-index: 3; left: 0px; top: 0px;"></div>
        <div class="e-more-popup-wrapper e-popup-close e-lib e-popup e-control" style="z-index: 2; left: 0px; top: 0px;">
          <div class="e-more-event-popup">
            <div class="e-more-event-header">
              <div class="e-more-event-close e-control e-btn e-lib e-round e-icon-btn" title="Close" tabindex="0">
                <span class="e-btn-icon e-icons e-close-icon"></span>
              </div>
              <div class="e-more-event-date-header">
                <div class="e-header-day"></div>
                <div class="e-header-date e-navigate" tabindex="0"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="e-dlg-ref-element"></div>
      </div>
    </div>


    <app-new-pop [(newPop)]="newPop" (refreshTrigger)="refreshEvents($event)"></app-new-pop>
</div>  